{{ block "about" .}}
<div class="about">
	<div class="container">

		<p class="about__text">Вдохновлением для проекта является <a href="https://igotstandardsbro.com/">данный
				сайт.</a> Текущий проект является лишь его калькой под российские реалии.</p>
		<p class="about__text">Ресурсы,
			используемые для этого проекта
			находятся <a href="/resources">тут</a>. Если у вас есть какие-то замечания по поводу подсчетов, сделайте
			<code>issue</code> и подробно опишите проблему.
		</p>
		<p class="about__text about__text--ps">
			P.S: Данный проект не ставит своей целью принизить женщин, <span class="about__eng">it's all just for fun
				;)</span>
		</p>
	</div>

</div>
{{ end }}