{{ block "content" . }} 

{{ template "header" . }}

{{ if (eq .Page "index") }}
<div class="container">
    <div class="top-block">
        <h1 class="title">Калькулятор женского заблуждения</h1>
        <div class="main-image__wrapper">
            <img src="/static/img/home_screen.png" alt="" class="main-image" />
        </div>
        <h2 class="title title--secondary">
            Каковы шансы найти мужчину своей мечты?
        </h2>
    </div>
</div>

{{ else if (eq .Page "result") }}
    {{template "result" .}}
{{ end }}

{{ if (eq .Page "index") }}
{{ template "calculator" . }}
{{ end }}

{{ template "footer" }}

{{ end }}
