{{ block "header" . }}
<div class="header">
    <span class="header__app-state">Beta version</span>
    <div class="container">
        <ul class="header__menu">
            <li class="header__item">
                <a href="/about" class="header__link">О проекте</a>
            </li>
            <li class="header__item">
                <a href="/"> <img src="/static/logos/logo.png" alt="Логотип" class="main-logo"></a>

            </li>
            <li class="header__item">
                <a href="/resources" class="header__link">
                    Ресурсы
                </a>
            </li>
        </ul>
    </div>
</div>
{{ end }}