{{ block "index" . }}
<!doctype html>
<html lang="ru">

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link rel="icon" type="image/x-icon" href="static/img/favicon.ico">
    <script src="https://unpkg.com/htmx.org@1.9.12"
        integrity="sha384-ujb1lZYygJmzgSwoxRggbCHcjc0rB2XoQrxeTUQyRjrOnlCoYta87iKBWq3EsdM2"
        crossorigin="anonymous"></script>
    <link rel="stylesheet" href="/static/nullstyle.css" />
    <link rel="stylesheet" href="/static/style.css" />

    <title>Калькулятор женского заблуждения</title>
    <meta og:title="Калькулятор женского заблуждения"/>
    <!-- TODO clear that -->
    <script src="/static/slider_range2/slider_range2.js"></script>

    <link rel="stylesheet" href="/static/slider_range/slider_range.css" />
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Freeman&display=swap" rel="stylesheet">

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=PT+Serif:ital,wght@0,400;0,700;1,400;1,700&display=swap"
        rel="stylesheet">

</head>

<body>
    {{ template "content" .}}
</body>

</html>
{{ end }}