{{ block "race" . }}
<div class="calculator__item">
    <h3 class="calculator__title">Этническая принадлежность</h3>
    <div class="calculator__input-group">
        <label for="" class="calculator__label calculator__label">
            <input class="calculator__radio calculator__radio--race js-calculator__radio" type="radio" name="race"
                value="slavs" />
            <span class="calculator__fake-radio"></span>
            <span class="calculator__radio-value">Славянин</span>
        </label>
        <label for="" class="calculator__label calculator__label">
            <input class="calculator__radio calculator__radio--race js-calculator__radio" type="radio" name="race"
                value="middle_asian" />
            <span class="calculator__fake-radio"></span>
            <span class="calculator__radio-value">Средняя Азия</span>
        </label>
        <label for="" class="calculator__label calculator__label">
            <input class="calculator__radio calculator__radio--race js-calculator__radio" type="radio" name="race"
                value="exotic" />
            <span class="calculator__fake-radio"></span>
            <span class="calculator__radio-value">Один из: черный, латиноамериканец, американец, европеец</span>
        </label>
        <label for="" class="calculator__label calculator__label">
            <input class="calculator__radio calculator__radio--race js-calculator__radio" type="radio" name="race"
                value="other" />
            <span class="calculator__fake-radio"></span>
            <span class="calculator__radio-value">Другие<>
        </label>
        <label for="" class="calculator__label calculator__label calculator__label--margin">
            <input class="calculator__radio calculator__radio--race js-calculator__radio" type="radio" name="race"
                value="any" />
            <span class="calculator__fake-radio"></span>
            <span class="calculator__radio-value">Не важно</span>
        </label>
    </div>
</div>
{{ end }}
