{{ block "resources" .}}
<div class="resources">
	<div class="container">

		<ul class="resources__list">
			<h3 class="resources__title">Статьи и документы используемые при подсчете</h3>
			<li class="resources__item calculator__item">
				<a href="https://rosstat.gov.ru/folder/12781" class="resources__link">Демография России (Росстат)</a>
			</li>
			<li class="resources__item calculator__item"><a href="https://www.statdata.ru/nasel_pol_vozr"
					class="resources__link">Население России по полу и возрасту</a> <span
					class="resources__remark">(точно используется в расчетах)</span></li>
			<li class="resources__item calculator__item"><a href="https://rosstat.gov.ru/storage/mediabank/Wom-Man%202022.pdf"
					class="resources__link">Женщины и мужчины России 2022</a></li>
			<li class="resources__item calculator__item"><a href="https://journal.tinkoff.ru/stat-ageism/"
					class="resources__link">Зарплаты по возрастам <span class="resources__remark">(точно используется в
						расчетах)</span></a></li>

		</ul>
	</div>
</div>
{{ end }}