{{ block "sliderRange" . }}
<div class="calculator__range-container">
  <tc-range-slider id="js-slider-range-age" value1="{{ .Age1 }}" value2="{{ .Age2 }}" step="1"
	min="19" max="60" 
  slider-width="100%"
	moving-tooltip="true"
  moving-tooltip-distance-to-pointer="40"
  moving-tooltip-width="35"
  moving-tooltip-height="30"
  moving-tooltip-units=""
  slider-bg-fill="#007CFF"
  slider-height="6px"
  css-links="../static/slider_range2/slider_range2.css"
	></tc-range-slider>
  <input type="hidden" name="age-max" value="{{ .Age1 }}">
  <input type="hidden" name="age-min" value="{{ .Age2 }}">

</div>

{{ end }}