html {
  font-size: 12px;
}
body {
  background-color: var(--primary);
}
:root {
  --primary: rgb(216, 78, 168);
  --secondary1: rgb(78, 216, 168);
  --secondary2: rgb(168, 216, 78);
  --bg: rgb(240, 240, 240);
  --border: rgb(200, 200, 200);
}
.container {
  padding-inline: 1.5rem;
}
.header__menu {
  display: flex;
  gap: 1.5rem;
}
